* {
  user-select: none;
}

body {
  margin: 0;
  background: #d5d6d7;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}
.top-gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 260px;
  background: linear-gradient(180deg, #2e446c 0%, #5c85d0 66%, #d5d6d7 100%);
  opacity: 0.9;
  z-index: -1;
  pointer-events: none; /* allow clicks through the background */
}
/* NAVBAR clean minimal */

/* MAIN NAV */
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 2;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 14px;
}
.circle-btn,
.icon-btn,
.pfp-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.main-nav {
  margin-top: 80px;
  display: flex;
  gap: 40px;
  padding-left: 20px;
}
.main-nav a {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.active-main {
  color: #000000;
}
.inactive-main {
  color: #6e757e;
}

.sub-nav {
  margin-top: 25px;
  display: flex;
  gap: 27px;
  padding-left: 20px;
}
.sub-nav a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.active-sub {
  color: black;
}
.inactive-sub {
  color: #727a84;
}

.sub-divider {
  width: 90%;
  height: 2px;
  background: #88a2c3;
  margin: 12px auto; /* Center the divider */
}

/* Input Field */
.task-input {
  margin: 40px auto;
  width: 90%;
  max-width: 360px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 14px 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 30px;
}

.task-field {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.outputs-list {
  width: 90%;
  max-width: 450px;
  max-height: 60%;
  margin: 0 auto;
  overflow-y: scroll;
}

.outputs-list::-webkit-scrollbar {
  display: none;
}

.output-item {
  background: white;
  padding: 14px 20px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.output-time {
  font-size: 12px;
  opacity: 0.6;
}

.output-text {
  font-size: 17px;
  margin-top: 4px;
}

.bottom-btn {
  width: 90%;
  max-width: 420px;
  height: 60px;
  border-radius: 30px;
  margin: 40px auto;
  background: black;
  color: white;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
}

.bottom-btn:active {
  scale: 0.98;
  background: #333333;
}

h1 {
  margin-block: 0.5vh;
  margin-inline: auto;
}

.ai-res-lbl {
  font-size: 2.7vh;
  margin-block: 1vh;
  margin-inline: auto;
}
