messages-container {
  width: 40vw;
  height: 60vh;
  border: 1px solid #000000;
  overflow-y: scroll;
  padding: 1vw;
  display: flex;
  flex-direction: column;

  .message {
    margin-bottom: 1vh;
    padding: 0.5vw;
    border-radius: 0.5vw;
  }
}
